<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <connectionStrings>
    <add name = "MyConnection" connectionString = "Data Source = DESKTOP-51JS21L;Initial Catalog = FormativeAssessment2_RPG521; Integrated Security = true;"/>
  </connectionStrings>
</configuration>

